[Unit]
Description=DASObjectStore managed workspace host broker socket
Documentation=https://github.com/sagrudd/DASObjectStore

[Socket]
ListenStream=/run/dasobjectstore/workspace-host.sock
SocketUser=root
SocketGroup=dasobjectstore
SocketMode=0660
RemoveOnStop=true

[Install]
WantedBy=sockets.target
